doctype html

html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{pageTitle} | #{siteName}
    link(rel='shortcut icon' href='./favicon/favicon.ico' type='image/x-icon')
    link(rel='apple-touch-icon' sizes='57x57' href='./favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='./favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='./favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
    link(rel='manifest' href='./favicon/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='./favicon/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
    link(rel='icon' href='./favicon/favicon.ico' type='image/x-icon')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='./reset.css')
    link(rel='stylesheet' type='text/css' href='./style.css')
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900' rel='stylesheet')
    meta(name='robots' content='index,nofollow')
    meta(name='description' content='FM Technology 에프엠테크')
    meta(name='keywords' lang='ko' content='웹서비스, 앱서비스')
    meta(name='format-detection' content='telephone=no')
    meta(property='og:type' content='website')
    meta(property='og:site_name' content='FM Technology 에프엠테크')
    meta(property='og:title' content='FM Technology 에프엠테크')
    meta(property='og:url' content='https://fmtech.io')
    meta(property='og:image' content='#')
    // to be updated
    meta(property='og:description' content='FM Technology 에프엠테크')
    meta(name='twitter:card' content='summary_large_image')
    meta(property='twitter:title' content='FM Technology 에프엠테크')
    meta(property='twitter:url' content='https://fmtech.io')
    meta(property='twitter:image' content='#')
    // to be updated
    meta(property='twitter:description' content='FM Technology 에프엠테크')
    link(rel='canonical' href='https://fmtech.io')
  body
    .logo
      img(src='./images/text_logo.png' alt='text_logo')
    .contents
      video(autoplay='' muted='' loop='' playsinline='')
        source(src='./background_video.mp4' type='video/mp4')
      block content
    include ../partials/footer
    //- script.
    //-   let vh = window.innerHeight * 0.01;
    //-   // Then we set the value in the --vh custom property to the root of the document
    //-   document.documentElement.style.setProperty('--vh', `${vh}px`);
    //-   // We listen to the resize event
    //-   window.addEventListener('resize', () => {
    //-     let vh = window.innerHeight * 0.01;
    //-     document.documentElement.style.setProperty('--vh', `${vh}px`);
    //-   });

